<ion-view class="chat-list-container" view-title="chat">
    <ion-content  class="has-header">
        <ion-list>
            <div class="chat-card clearfix" ng-class="{'left':chat.origin!='user','right':chat.origin=='user'}" ng-repeat="chat in chatList">
                <div class="content" ng-bind="chat.content"></div>
                <div class="avatar">
                    <img ng-src="{{chat.avatar}}">
                </div>
            </div>
        </ion-list>
    </ion-content>
    <div class="list list-inset input-wrapper">
        <span class="item item-input">
            <input type="text" ng-model="chatContent" >
            <i ng-click="addChat()" class="icon ion-android-done check-btn"></i>
        </span>
    </div>
</ion-view>
