$theme-color: #ffd600;
$card-padding: 12px;



$chat-bg-1:#4E8EF7;
$chat-bg-2:#ffd600;
$chat-color-1:#ffffff;
$chat-color-2:#1c1c1c;
$chat-border-radius:6px;
$chat-avatar-width:36px;
$chat-content-margin:60px;
$chat-avatar-margin:10px;
